@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');

/*
colors
D3FAD6 TEA GREEN (LIGHT)
D1EFB5 TEA GREEN (SLIGHTLY DARKER)
EDEBA0 VANILLA 
C3C48D SAGE
928C6F MOSS GREEN
*/
h1{
    font-family: "Sedan", serif;
    text-align: center;
    padding: 2%;
    
}
p{
    font-family: "Raleway", sans-serif;
}

body{
    background-color: #D3FAD6;
    /* background-color: #EDEBA0; */
    
}


header{
    background-color: #928c6f;
    background-color: #C3C48D;
    /* background-color: pink; */
}

nav{
    display: flex;
    background-color: #928c6F;
}

nav a{
    text-align: center;
    text-decoration: none;
    flex-direction: row;
    width: 100%;
    padding: 1%;
    margin: 1%;
    color: black;
    font-size: 1.5rem;
}

nav a:hover{
    
    background-color: #D1efb5;
    
    border-radius: 20%;
}

main{
    display: grid;
    grid-template: 1fr  / 2fr 1fr;
    width: 100%;
    max-width:fit-content;
    padding: 1%;
    margin: 1%;
}

.card{
    border: 2px solid black;
}

section:nth-child(1){
    grid-column: 1/2;
    background-color: #EDEBA0;
    /* background-color: #D3FAD6; */
    display: grid;
    grid-template: 1fr 3fr/ 1fr 1fr 1fr ;
}

section h2{
    text-align: center;
    grid-column: 1/4;
}
#me{
    grid-column: 1/4;
    display: grid;
    grid-template: auto / 3fr 1fr;
}

#aboutUtah{
    grid-column: 1/4;
    display: grid;
    grid-template: auto / 1fr 3fr;
}

#aboutUtah p{
    grid-column: 2/4;
    
}



footer{
    text-align: center;
    
}


